

  @import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

   
}

body{
    background-image:url("ind.jpeg");
}
.app{
    background:black;
    width:100%;
    max-width: 700px;
    margin:100px auto 0;
    border-radius: 10px;
    padding:30px;
    font-size: 20px;
}
.app h1{
    font-size: 450%;
    color:rgb(205, 122, 74);
    border-bottom: 1px solid #333;
    padding-bottom:20px;
    font-family: 'UnifrakturCook', cursive;}
.quiz{
padding:  40px 0;  
}
.quiz h2{
    font-size:30px;
    color:rgb(187, 115, 171);
    font-weight: 600;
    padding:10px;
    padding-top: 2px;
    padding-bottom: 40px;
}
.btn{
    background: #ad9b9e;
    color:#222;
    font-size: larger;
    font-weight: 530;
    width:100%;
    border:1px solid #222;
    padding:15px;
    margin:10 px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
}
.btn:hover:not([disabled]){
    background: rgb(213, 96, 57);
    color:#133696;
}
.btn:disabled{
    cursor:no-drop;
}
#next-btn{
    background:rgb(213, 111, 61);
    color:white;
    font-weight:500;
    width:150px;
    border:0;
    font-size: 140%;
    padding:15px;
    margin:60px auto 0;
    border-radius: 4px;
    cursor:pointer;
    display:none;

}
#next-btn:hover{
    background-color:rgb(88, 64, 19) ;
}


.correct{
    background: rgb(78, 115, 78);
}
.incorrect{
    background: rgb(154, 91, 91);
}


